/* glue: 0.4 hash: 02b31e7e64 */
[class^="oicon-"], [class*=" oicon-"] { display: inline-block;  margin-top: 0px;  *margin-right: .3em;  vertical-align: text-top; background-image: url("../img/sprite.png");  background-position: 16px 16px;  background-repeat: no-repeat; }
h3 > [class*=" icon-"], h3 > [class^="icon-"] { margin-top: 3px; }.oicon-widescreen{background-position:0px 0px;width:24px;height:24px;}
.oicon-non-widescreen{background-position:-24px 0px;width:24px;height:24px;}
.oicon-zones{background-position:0px -24px;width:16px;height:16px;}
.oicon-wrench{background-position:-16px -24px;width:16px;height:16px;}
.oicon-wrench-screwdriver{background-position:-32px -24px;width:16px;height:16px;}
.oicon-wooden-box{background-position:-48px 0px;width:16px;height:16px;}
.oicon-wi-fi-zone{background-position:-48px -16px;width:16px;height:16px;}
.oicon-weather-wind{background-position:0px -40px;width:16px;height:16px;}
.oicon-water{background-position:-16px -40px;width:16px;height:16px;}
.oicon-warning{background-position:-32px -40px;width:16px;height:16px;}
.oicon-wall-brick{background-position:-48px -40px;width:16px;height:16px;}
.oicon-voltage{background-position:-64px 0px;width:16px;height:16px;}
.oicon-video{background-position:-64px -16px;width:16px;height:16px;}
.oicon-users{background-position:-64px -32px;width:16px;height:16px;}
.oicon-user-share{background-position:0px -56px;width:16px;height:16px;}
.oicon-user-detective{background-position:-16px -56px;width:16px;height:16px;}
.oicon-user-business{background-position:-32px -56px;width:16px;height:16px;}
.oicon-user--plus{background-position:-48px -56px;width:16px;height:16px;}
.oicon-user--pencil{background-position:-64px -56px;width:16px;height:16px;}
.oicon-user--minus{background-position:-80px 0px;width:16px;height:16px;}
.oicon-ui-progress-bar{background-position:-80px -16px;width:16px;height:16px;}
.oicon-transmitter{background-position:-80px -32px;width:16px;height:16px;}
.oicon-traffic-light{background-position:-80px -48px;width:16px;height:16px;}
.oicon-time{background-position:0px -72px;width:16px;height:16px;}
.oicon-tick-circle{background-position:-16px -72px;width:16px;height:16px;}
.oicon-tick-circle-frame{background-position:-32px -72px;width:16px;height:16px;}
.oicon-tick-button{background-position:-48px -72px;width:16px;height:16px;}
.oicon-thermometer-high{background-position:-64px -72px;width:16px;height:16px;}
.oicon-telephone{background-position:-80px -72px;width:16px;height:16px;}
.oicon-target{background-position:-96px 0px;width:16px;height:16px;}
.oicon-system-monitor{background-position:-96px -16px;width:16px;height:16px;}
.oicon-surveillance-camera{background-position:-96px -32px;width:16px;height:16px;}
.oicon-status{background-position:-96px -48px;width:16px;height:16px;}
.oicon-status-offline{background-position:-96px -64px;width:16px;height:16px;}
.oicon-status-busy{background-position:0px -88px;width:16px;height:16px;}
.oicon-status-away{background-position:-16px -88px;width:16px;height:16px;}
.oicon-star{background-position:-32px -88px;width:16px;height:16px;}
.oicon-square-yellow{background-position:-48px -88px;width:16px;height:16px;}
.oicon-square-wood{background-position:-64px -88px;width:16px;height:16px;}
.oicon-square-white{background-position:-80px -88px;width:16px;height:16px;}
.oicon-square-teal{background-position:-96px -88px;width:16px;height:16px;}
.oicon-square-tan{background-position:-112px 0px;width:16px;height:16px;}
.oicon-square-red{background-position:-112px -16px;width:16px;height:16px;}
.oicon-square-paper{background-position:-112px -32px;width:16px;height:16px;}
.oicon-square-metal{background-position:-112px -48px;width:16px;height:16px;}
.oicon-square-grey{background-position:-112px -64px;width:16px;height:16px;}
.oicon-square-green{background-position:-112px -80px;width:16px;height:16px;}
.oicon-square-glass{background-position:0px -104px;width:16px;height:16px;}
.oicon-square-blue{background-position:-16px -104px;width:16px;height:16px;}
.oicon-square-black{background-position:-32px -104px;width:16px;height:16px;}
.oicon-sql-join-left{background-position:-48px -104px;width:16px;height:16px;}
.oicon-spectrum{background-position:-64px -104px;width:16px;height:16px;}
.oicon-sort-alphabet-column{background-position:-80px -104px;width:16px;height:16px;}
.oicon-slash-button{background-position:-96px -104px;width:16px;height:16px;}
.oicon-shield{background-position:-112px -104px;width:16px;height:16px;}
.oicon-shield-blue-broken{background-position:-128px 0px;width:16px;height:16px;}
.oicon-settings{background-position:-128px -16px;width:16px;height:16px;}
.oicon-service-bell{background-position:-128px -32px;width:16px;height:16px;}
.oicon-servers{background-position:-128px -48px;width:16px;height:16px;}
.oicon-server{background-position:-128px -64px;width:16px;height:16px;}
.oicon-server--plus{background-position:-128px -80px;width:16px;height:16px;}
.oicon-server--minus{background-position:-128px -96px;width:16px;height:16px;}
.oicon-report{background-position:0px -120px;width:16px;height:16px;}
.oicon-question{background-position:-16px -120px;width:16px;height:16px;}
.oicon-question-button{background-position:-32px -120px;width:16px;height:16px;}
.oicon-processor{background-position:-48px -120px;width:16px;height:16px;}
.oicon-printer{background-position:-64px -120px;width:16px;height:16px;}
.oicon-printer-monochrome{background-position:-80px -120px;width:16px;height:16px;}
.oicon-printer-color{background-position:-96px -120px;width:16px;height:16px;}
.oicon-power{background-position:-112px -120px;width:16px;height:16px;}
.oicon-plus{background-position:-128px -120px;width:16px;height:16px;}
.oicon-plus-white{background-position:-144px 0px;width:16px;height:16px;}
.oicon-plus-octagon{background-position:-144px -16px;width:16px;height:16px;}
.oicon-plus-circle{background-position:-144px -32px;width:16px;height:16px;}
.oicon-plus-circle-frame{background-position:-144px -48px;width:16px;height:16px;}
.oicon-plus-button{background-position:-144px -64px;width:16px;height:16px;}
.oicon-plug{background-position:-144px -80px;width:16px;height:16px;}
.oicon-plug-disconnect{background-position:-144px -96px;width:16px;height:16px;}
.oicon-plug-connect{background-position:-144px -112px;width:16px;height:16px;}
.oicon-plug--exclamation{background-position:0px -136px;width:16px;height:16px;}
.oicon-pencil{background-position:-16px -136px;width:16px;height:16px;}
.oicon-paper-plane{background-position:-32px -136px;width:16px;height:16px;}
.oicon-or{background-position:-48px -136px;width:16px;height:16px;}
.oicon-omega{background-position:-64px -136px;width:16px;height:16px;}
.oicon-notebook{background-position:-80px -136px;width:16px;height:16px;}
.oicon-node{background-position:-96px -136px;width:16px;height:16px;}
.oicon-node-select{background-position:-112px -136px;width:16px;height:16px;}
.oicon-node-select-child{background-position:-128px -136px;width:16px;height:16px;}
.oicon-node-select-all{background-position:-144px -136px;width:16px;height:16px;}
.oicon-network{background-position:-160px 0px;width:16px;height:16px;}
.oicon-network-wireless{background-position:-160px -16px;width:16px;height:16px;}
.oicon-network-status{background-position:-160px -32px;width:16px;height:16px;}
.oicon-network-status-offline{background-position:-160px -48px;width:16px;height:16px;}
.oicon-network-status-busy{background-position:-160px -64px;width:16px;height:16px;}
.oicon-network-status-away{background-position:-160px -80px;width:16px;height:16px;}
.oicon-network-hub{background-position:-160px -96px;width:16px;height:16px;}
.oicon-network-ethernet{background-position:-160px -112px;width:16px;height:16px;}
.oicon-network-clouds{background-position:-160px -128px;width:16px;height:16px;}
.oicon-network-cloud{background-position:0px -152px;width:16px;height:16px;}
.oicon-money-coin{background-position:-16px -152px;width:16px;height:16px;}
.oicon-minus{background-position:-32px -152px;width:16px;height:16px;}
.oicon-minus-circle{background-position:-48px -152px;width:16px;height:16px;}
.oicon-minus-circle-frame{background-position:-64px -152px;width:16px;height:16px;}
.oicon-minus-button{background-position:-80px -152px;width:16px;height:16px;}
.oicon-memory{background-position:-96px -152px;width:16px;height:16px;}
.oicon-map{background-position:-112px -152px;width:16px;height:16px;}
.oicon-mails{background-position:-128px -152px;width:16px;height:16px;}
.oicon-mails-stack{background-position:-144px -152px;width:16px;height:16px;}
.oicon-mail{background-position:-160px -152px;width:16px;height:16px;}
.oicon-mail--plus{background-position:-176px 0px;width:16px;height:16px;}
.oicon-magnifier-zoom-actual{background-position:-176px -16px;width:16px;height:16px;}
.oicon-lock-warning{background-position:-176px -32px;width:16px;height:16px;}
.oicon-lightning{background-position:-176px -48px;width:16px;height:16px;}
.oicon-light-bulb{background-position:-176px -64px;width:16px;height:16px;}
.oicon-light-bulb-off{background-position:-176px -80px;width:16px;height:16px;}
.oicon-layout-6{background-position:-176px -96px;width:16px;height:16px;}
.oicon-layout-4{background-position:-176px -112px;width:16px;height:16px;}
.oicon-layer-shape-curve{background-position:-176px -128px;width:16px;height:16px;}
.oicon-key{background-position:-176px -144px;width:16px;height:16px;}
.oicon-ipv6{background-position:0px -168px;width:16px;height:16px;}
.oicon-ipv4{background-position:-16px -168px;width:16px;height:16px;}
.oicon-information{background-position:-32px -168px;width:16px;height:16px;}
.oicon-information-button{background-position:-48px -168px;width:16px;height:16px;}
.oicon-hand-point-090{background-position:-64px -168px;width:16px;height:16px;}
.oicon-graphic-card{background-position:-80px -168px;width:16px;height:16px;}
.oicon-globe{background-position:-96px -168px;width:16px;height:16px;}
.oicon-globe-network{background-position:-112px -168px;width:16px;height:16px;}
.oicon-globe-network-ethernet{background-position:-128px -168px;width:16px;height:16px;}
.oicon-globe-model{background-position:-144px -168px;width:16px;height:16px;}
.oicon-globe-green{background-position:-160px -168px;width:16px;height:16px;}
.oicon-geolocation{background-position:-176px -168px;width:16px;height:16px;}
.oicon-gear{background-position:-192px 0px;width:16px;height:16px;}
.oicon-gear--edit{background-position:-192px -16px;width:16px;height:16px;}
.oicon-funnel{background-position:-192px -32px;width:16px;height:16px;}
.oicon-frequency{background-position:-192px -48px;width:16px;height:16px;}
.oicon-fire{background-position:-192px -64px;width:16px;height:16px;}
.oicon-fire-big{background-position:-192px -80px;width:16px;height:16px;}
.oicon-eye{background-position:-192px -96px;width:16px;height:16px;}
.oicon-exclamation{background-position:-192px -112px;width:16px;height:16px;}
.oicon-exclamation-white{background-position:-192px -128px;width:16px;height:16px;}
.oicon-exclamation-red{background-position:-192px -144px;width:16px;height:16px;}
.oicon-exclamation-red-frame{background-position:-192px -160px;width:16px;height:16px;}
.oicon-exclamation-button{background-position:0px -184px;width:16px;height:16px;}
.oicon-exclamation--frame{background-position:-16px -184px;width:16px;height:16px;}
.oicon-drive{background-position:-32px -184px;width:16px;height:16px;}
.oicon-drive--arrow{background-position:-48px -184px;width:16px;height:16px;}
.oicon-door-open-out{background-position:-64px -184px;width:16px;height:16px;}
.oicon-disk{background-position:-80px -184px;width:16px;height:16px;}
.oicon-disk-black{background-position:-96px -184px;width:16px;height:16px;}
.oicon-disk--arrow{background-position:-112px -184px;width:16px;height:16px;}
.oicon-databases{background-position:-128px -184px;width:16px;height:16px;}
.oicon-database{background-position:-144px -184px;width:16px;height:16px;}
.oicon-database--exclamation{background-position:-160px -184px;width:16px;height:16px;}
.oicon-dashboard{background-position:-176px -184px;width:16px;height:16px;}
.oicon-current{background-position:-192px -184px;width:16px;height:16px;}
.oicon-cross{background-position:-208px 0px;width:16px;height:16px;}
.oicon-cross-circle{background-position:-208px -16px;width:16px;height:16px;}
.oicon-cross-circle-frame{background-position:-208px -32px;width:16px;height:16px;}
.oicon-cross-button{background-position:-208px -48px;width:16px;height:16px;}
.oicon-contrast{background-position:-208px -64px;width:16px;height:16px;}
.oicon-connect{background-position:-208px -80px;width:16px;height:16px;}
.oicon-computer{background-position:-208px -96px;width:16px;height:16px;}
.oicon-clock--plus{background-position:-208px -112px;width:16px;height:16px;}
.oicon-clock--minus{background-position:-208px -128px;width:16px;height:16px;}
.oicon-clock--exclamation{background-position:-208px -144px;width:16px;height:16px;}
.oicon-clipboard-warning{background-position:-208px -160px;width:16px;height:16px;}
.oicon-clipboard-search{background-position:-208px -176px;width:16px;height:16px;}
.oicon-clipboard-report-bar{background-position:0px -200px;width:16px;height:16px;}
.oicon-clipboard-fingerprint{background-position:-16px -200px;width:16px;height:16px;}
.oicon-clipboard-eye{background-position:-32px -200px;width:16px;height:16px;}
.oicon-clipboard-comment{background-position:-48px -200px;width:16px;height:16px;}
.oicon-clipboard-audit{background-position:-64px -200px;width:16px;height:16px;}
.oicon-circle-yellow{background-position:-80px -200px;width:16px;height:16px;}
.oicon-circle-white{background-position:-96px -200px;width:16px;height:16px;}
.oicon-circle-teal{background-position:-112px -200px;width:16px;height:16px;}
.oicon-circle-tan{background-position:-128px -200px;width:16px;height:16px;}
.oicon-circle-red{background-position:-144px -200px;width:16px;height:16px;}
.oicon-circle-paper{background-position:-160px -200px;width:16px;height:16px;}
.oicon-circle-metal{background-position:-176px -200px;width:16px;height:16px;}
.oicon-circle-grey{background-position:-192px -200px;width:16px;height:16px;}
.oicon-circle-green{background-position:-208px -200px;width:16px;height:16px;}
.oicon-circle-glass{background-position:-224px 0px;width:16px;height:16px;}
.oicon-circle-blue{background-position:-224px -16px;width:16px;height:16px;}
.oicon-circle-black{background-position:-224px -32px;width:16px;height:16px;}
.oicon-check{background-position:-224px -48px;width:16px;height:16px;}
.oicon-chart{background-position:-224px -64px;width:16px;height:16px;}
.oicon-chart-up{background-position:-224px -80px;width:16px;height:16px;}
.oicon-chart-up-color{background-position:-224px -96px;width:16px;height:16px;}
.oicon-chart-pie{background-position:-224px -112px;width:16px;height:16px;}
.oicon-chart-pie-separate{background-position:-224px -128px;width:16px;height:16px;}
.oicon-chart-down{background-position:-224px -144px;width:16px;height:16px;}
.oicon-chart-down-color{background-position:-224px -160px;width:16px;height:16px;}
.oicon-chain{background-position:-224px -176px;width:16px;height:16px;}
.oicon-chain--exclamation{background-position:-224px -192px;width:16px;height:16px;}
.oicon-category{background-position:0px -216px;width:16px;height:16px;}
.oicon-category-group{background-position:-16px -216px;width:16px;height:16px;}
.oicon-categories{background-position:-32px -216px;width:16px;height:16px;}
.oicon-burn{background-position:-48px -216px;width:16px;height:16px;}
.oicon-building{background-position:-64px -216px;width:16px;height:16px;}
.oicon-building-small{background-position:-80px -216px;width:16px;height:16px;}
.oicon-building-old{background-position:-96px -216px;width:16px;height:16px;}
.oicon-building-hedge{background-position:-112px -216px;width:16px;height:16px;}
.oicon-box-zipper{background-position:-128px -216px;width:16px;height:16px;}
.oicon-box-search-result{background-position:-144px -216px;width:16px;height:16px;}
.oicon-bell{background-position:-160px -216px;width:16px;height:16px;}
.oicon-bell--exclamation{background-position:-176px -216px;width:16px;height:16px;}
.oicon-battery{background-position:-192px -216px;width:16px;height:16px;}
.oicon-badge-square-plus{background-position:-208px -216px;width:16px;height:16px;}
.oicon-badge-square-minus{background-position:-224px -216px;width:16px;height:16px;}
.oicon-badge-square-cross{background-position:-240px 0px;width:16px;height:16px;}
.oicon-badge-square-check{background-position:-240px -16px;width:16px;height:16px;}
.oicon-badge-circle-plus{background-position:-240px -32px;width:16px;height:16px;}
.oicon-badge-circle-minus{background-position:-240px -48px;width:16px;height:16px;}
.oicon-badge-circle-cross{background-position:-240px -64px;width:16px;height:16px;}
.oicon-asterisk{background-position:-240px -80px;width:16px;height:16px;}
.oicon-asterisk-yellow{background-position:-240px -96px;width:16px;height:16px;}
.oicon-arrow_up{background-position:-240px -112px;width:16px;height:16px;}
.oicon-arrow_right{background-position:-240px -128px;width:16px;height:16px;}
.oicon-arrow_left{background-position:-240px -144px;width:16px;height:16px;}
.oicon-arrow_down{background-position:-240px -160px;width:16px;height:16px;}
.oicon-arrow-transition{background-position:-240px -176px;width:16px;height:16px;}
.oicon-arrow-switch{background-position:-240px -192px;width:16px;height:16px;}
.oicon-arrow-split{background-position:-240px -208px;width:16px;height:16px;}
.oicon-arrow-move{background-position:0px -232px;width:16px;height:16px;}
.oicon-arrow-merge{background-position:-16px -232px;width:16px;height:16px;}
.oicon-arrow-join{background-position:-32px -232px;width:16px;height:16px;}
.oicon-arrow-incident-red{background-position:-48px -232px;width:16px;height:16px;}
.oicon-arrow-incident-green{background-position:-64px -232px;width:16px;height:16px;}
.oicon-arrow-incident-blue{background-position:-80px -232px;width:16px;height:16px;}
.oicon-arrow-in{background-position:-96px -232px;width:16px;height:16px;}
.oicon-arrow-circle{background-position:-112px -232px;width:16px;height:16px;}
.oicon-arrow-branch-gyr{background-position:-128px -232px;width:16px;height:16px;}
.oicon-arrow-branch-byr{background-position:-144px -232px;width:16px;height:16px;}
.oicon-arrow-branch-bgr{background-position:-160px -232px;width:16px;height:16px;}
.oicon-arrow-branch-000-left{background-position:-176px -232px;width:16px;height:16px;}
.oicon-application-terminal{background-position:-192px -232px;width:16px;height:16px;}
.oicon-application-list{background-position:-208px -232px;width:16px;height:16px;}
.oicon-application-icon-large{background-position:-224px -232px;width:16px;height:16px;}
.oicon-application-block{background-position:-240px -232px;width:16px;height:16px;}
.oicon-application--exclamation{background-position:-256px 0px;width:16px;height:16px;}
.oicon-and{background-position:-256px -16px;width:16px;height:16px;}
