<?php
/* This file should be named "freeradius.conf" and placed either in the same directory
 * as the freeradius script, or in /etc/observium_agent
 */

$radclient      = "/usr/bin/radclient";
$radius_secret  = "adminsecret";
$radius_port    = "18120";
$radius_timeout = 2; // Timeout for each attempt in seconds
$radius_retries = 3; // Number of times to try
