<?php

# Observium MySQL Agent Script -> Config File
# (c) 2012, Tom Laermans for Observium (www.observium.org)

# Autodetect user/pass on Debian, please configure if other distro.

if (is_readable('/etc/mysql/debian.cnf'))
{
  $mysql_cnf = parse_ini_file('/etc/mysql/debian.cnf', TRUE);
  $mysql_user = $mysql_cnf['client']['user'];
  $mysql_pass = $mysql_cnf['client']['password'];
}
elseif (is_readable('/root/.my.cnf'))
{
  $mysql_cnf = parse_ini_file('/root/.my.cnf', TRUE);
  $mysql_user = $mysql_cnf['client']['user'];
  if ($mysql_cnf['client']['password'] != '')
  {
  	$mysql_pass = $mysql_cnf['client']['password'];
  }
  else
  {
  	$mysql_pass = $mysql_cnf['client']['pass'];
  }
}
else
{
  $mysql_user = '';
  $mysql_pass = '';
}

?>
